<section id="todoapp">
  <header id="header">
    <h1>tasks</h1>
    <input type="text" id="new-task" onkeydown={{action "createTask"}} placeholder="What needs to be done?" autofocus>
  </header>
  {{outlet}}
  {{#if (gt model.length 0)}}
    <footer id="footer">
      <span id="task-count"><strong>{{remaining.length}}</strong> {{pluralize "item" remaining.length}} left</span>
      <ul id="filters">
        <li>{{#link-to "index" activeClass="selected"}}All{{/link-to}}</li>
        <li>{{#link-to "active" activeClass="selected"}}Active{{/link-to}}</li>
        <li>{{#link-to "completed" activeClass="selected"}}Completed{{/link-to}}</li>
      </ul>
      {{#if completed.length}}
        <button id="clear-completed" onclick={{action "clearCompleted"}}>Clear completed</button>
      {{/if}}
    </footer>
  {{/if}}
</section>
<footer id="info">
  <p>Double-click to edit a task</p>
  <p>Part of <a href="https://github.com/tomasbasham?utf8=✓&tab=repositories&q=blunderlist">Blunderlist</a></p>
</footer>
